*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
noscript{
    background:red;
    width: 100vw;
    height: 100px;
}
body{
    background: center / cover url('../img/fond_application.jpg') no-repeat;
    
}
h1{
    text-align: center;
}

table, td{
    border: solid 1px black;
}
table{
    border-collapse: collapse;
}

td{
    text-align: center;
}
.imgPanda{
    position: absolute;
    transition: 2s;
    transition-delay: 0.8s;
    animation: panda 6s ease-in-out infinite 0.5s;
}
@keyframes panda{
    0%, 100% {
        transform:  translateY(15px);
    }
    50% {
        transform:  translateY(-15px);
    }
}

.containerGrilleSudoku{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.23);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);

    box-shadow: 10px 10px 90px white;

    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 700px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.containerButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.number button, .brouillion, .effacer{
    padding: 10px;
    border: solid 2px orange;
    border-radius: 7px;
    background: white;
}


.number button:hover, .brouillion:hover, .effacer{
    background: orange;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
.containerBrouillionEffecer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 270px;
    margin-top: 20px;
}
#pause, #play {
    border: none;
    background: white
}
i{
    color: orange;
    cursor: pointer;
    font-size:x-large;
    background: #B6D3F2;
}



.select{
    display: none;
}
.empty{
    cursor: pointer;
}
.notEmpty p , .empty p{
    width: 70px;
    height: 70px;
}
td p{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    /* display: none; */
}


#timer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#timer div{
    margin-left: 30px;
}
.diff{
    text-align: center;
}



@media screen and (max-width:770px){
    .notEmpty p , .empty p{
        width: 40px;
        height: 40px;
    }

    .containerGrilleSudoku{
        width: 382px;
    }  
}

@media screen and (max-width:1022px){
    .imgPanda{
        display: none;
    }
    
}
